* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
    touch-action: manipulation;
}

.gamepad {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.joystick-container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    touch-action: none;
}

.joystick {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    touch-action: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-left: 65vh;
}

.button {
    width: 100px;
    height: 100px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.up {
    grid-column: 2;
    grid-row: 1;
}

.left {
    grid-column: 1;
    grid-row: 2;
}

.right {
    grid-column: 3;
    grid-row: 2;
}

.down {
    grid-column: 2;
    grid-row: 3;
}

.fire {
    grid-column: 2;
    grid-row: 2;
}