* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    height: 100%;
    overflow: hidden;
}
body {
    position: relative;
    height: 100%;
    background: url('../images/Background/screensaver_background.jpeg') no-repeat;
    background-size: cover;
}

.title {
    width: 100%;
    height: 261px;
    background-color: rgba(61, 61, 61, 0.6);
    font: 700 190px/155px "Amatic SC", sans-serif;
    text-shadow: 4px -5px 5px red;
    color: rgba(255, 255, 255, 1);
    margin: 10% 0 0 0;
    
    -webkit-animation: blinking 2s linear infinite;
    animation: blinking 2s linear infinite;
}

.continue {
    position: absolute;
    display: block;
    width: 600px;
    height: 40px;
    font: 400 20px/24px "Russo One", sans-serif;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(61, 61, 61, 0.6);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

@-webkit-keyframes blinking {
    0% { color: rgb(255, 255, 255); }
    50% { color: rgb(255, 190, 190); }
    100% { color: rgb(255, 255, 255); }
  }

  @keyframes blinking {
    0% { color: rgb(255, 255, 255); }
    50% { color: rgb(255, 190, 190); }
    100% { color: rgb(255, 255, 255); }
  }