<!DOCTYPE html>
<html>
<head>
  <title>First Level</title>
  <script type="module" src="http://localhost:3000/@vite/client"></script>
</head>
<body>
<script type="module" src="{{ asset('main.js') }}"></script>
</body>
</html>