<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/menu_style.css">
</head>
<body>
  <h1 class="center-align title">Меню</h1>
  <div class="options-list">
    <a class="rating" href="/rating">
      <p class="rating__title">Рейтинг</p>
      <img src="images/Icon/rating_icon.svg">
    </a>
    <a class="single" href="/choose-level">
      <p class="single__title">Одиночная кампания</p>
      <img src="images/Icon/singleplayer_icon.svg">
    </a>
    <a class="multi" href="/multiplayer">
      <p class="multi__title">Вдвоём</p>
      <img src="images/Icon/multiplayer_icon.svg">
    </a>
  </div>
  <a class="signout" type="submit" href="/user/signout">Выйти</a>
</body>
</html>