<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demon Deliverance</title>
  <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/screensaver_style.css">
  <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
</head>
<body>
  <h1 class="center-align title">Demon Deliverance</h1>
  <p class="center-align middle-align continue">Нажмите любую клавишу, чтобы продолжить</p>
  <script>
      document.addEventListener('keydown', function()
      {
          window.location.href = '/user/signin';
      });
      document.addEventListener('mousedown', function()
      {
          window.location.href = '/user/signin';
      });
  </script>
</body>
</html>