<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up User</title>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup_style.css">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.5.8/dist/cdn/beer.min.css" rel="stylesheet">
</head>
<body>
<div id="form" class=" form">
    <form action="/signup" method="post">
        {% if (error.username is defined) or (error.password is defined) %}
            <div class="snackbar error top active">
                {% if error.username is defined %}
                    {{ error.username }}<br>
                {% endif %}
                {% if error.password is defined %}
                    {{ error.password }}<br>
                {% endif %}
            </div>
        {% endif %}
        <div class="field border fill responsive input">
            <input name="username" id="username" type="text" placeholder="имя" maxlength="9">
        </div>
        <div class="field border fill input">
            <input name="password" id="password" type="password" placeholder="пароль" maxlength="9">
        </div>
        <button class="small-round responsive button-signin" type="submit">зарегистрироваться</button>
    </form>
    <p class="center-align form__text">Уже зарегистрированы?</p>
    <form action="/user/signin">
        <button class="small-round responsive button-signup" type="submit">войти</button>
    </form>
</div>
</body>
</html>